<ion-view view-title="Food & Beverages">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right my-item"
        type="item-text-wrap"
        href="#/tab/food/{{food.id}}"
        collection-repeat="food in foods"
        collection-item-width="'100%'"
        collection-item-height="getItemHeight(item, $index)"
        bindonce
        ng-style="{height: getItemHeight(item, $index)}">
        <img ng-src="{{food.thumb}}">
        <h2>{{food.title}}</h2>
        <p>{{food.desc}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(food)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
